<div class="col-xs-3">
  <div class="panel">
    <div class="size-selector">
      <p>Select Canvas Size: </p>
    </div>
    <button data-ng-click="vm.logFabric();">Check Fabric is loaded</button>
  </div>
</div>
<div class="col-xs-9">
  <div class='image-builder'>
    <div class='fabric-container'>
      <canvas fabric='fabric'></canvas>
    </div>
  </div>
</div>
